<div class="filmContainer">
  <ul class="filmList">
      <li *ngFor="let film of films">
        <span class="title">{{ film.title }}</span><br>
        <span>Released:</span><br>
        <span>{{ film.release_date | date:'fullDate'}}</span><br>
        <span>Episode #{{ film.episode_id }}</span><br>
        <span>Director:</span><br>
        <span>{{ film.director }}</span>
      </li>
      <br>
  </ul>
</div>
<hr>
<div class="loader" *ngIf="isLoading">
    <img src="/assets/imperial_emblem.gif">
</div>