
<div class="heading">
  <h1>
      <a class="home-link" href="/">Star Wars</a>
  </h1>
  <hr>
</div>
<div class="main-content">
  <h2 class="info">
      Character Film Information
  </h2>
  <div class="instructions">
    <p>Select a character <br>to see information about the films<br>in the Star Wars universe they have appeared in.</p>
  </div>
  <div class="characters">
    <ul>
      <li *ngFor="let character of characters; let i = index" >
       <a (click)="characterSelect(i)">{{character.name}}</a> 
      </li>
    </ul>
  </div>
</div>
<hr>
<div *ngIf="error">
  <p>We're sorry, there seems to be something wrong with that request, please check back later.</p>
</div>
<div *ngIf="selected && !error" class="filmInfoTitle">
  <p> {{selected}} Films</p>
</div>
<app-character-detail *ngIf="selected && !error" [isLoading]="loading" [films]="details"></app-character-detail>
